@{



<br>
</br>


    ViewBag.Title = "About High-FIVE";
}
<h2>@ViewBag.Title.</h2>

<p>High-Five will allow Centric employees to be recognized in a fun way. Recognition is based on Centric's core values. More information about these values and ways to increase your recognition score can be found on the home page.</p>

