@{
    ViewBag.Title = "Get In Touch";
}
<h2>@ViewBag.Title.</h2>
<h4>Centric Corporate Headquarters</h4>
<address>
    1215 Lyons Road Bldg F<br />
    Dayton, OH 45458-1858<br />
    <abbr title="Phone">P:</abbr>
    888 781 7567
</address>
<h4> Business Units </h4>
<table style="width:100%" class="table table-striped, table-hover">
    <tr>
        <th>City</th>
        <th>Point of Contact</th>
        <th>Phone Number</th>
    </tr>
    <tr>
        <td>Boston</td>
        <td>Craig Holbrook</td>
        <td>617 320 6961</td>
    </tr>
    <tr>
        <td>Charlotte</td>
        <td>Anthony (TJ) Felice</td>
        <td>980 298 3032</td>
    </tr>
    <tr>
        <td>Chicago</td>
        <td>Ted Goodman</td>
        <td>312 501 1999</td>
    </tr>
    <tr>
        <td>Cincinatti</td>
        <td>Steve Bernicke</td>
        <td>513 314 0695</td>
    </tr>
    <tr>
        <td>Cleveland</td>
        <td>Joe Smucny</td>
        <td>216 533 3028</td>
    </tr>
    <tr>
        <td>Columbus</td>
        <td>Brad Stagmyer</td>
        <td>614 205 8112</td>
    </tr>
    <tr>
        <td>India</td>
        <td>Brian Offenbacher</td>
        <td>614 940 4088</td>
    </tr>
    <tr>
        <td>Indianapolis</td>
        <td>Richard McGee</td>
        <td>317 590 6022</td>
    </tr>
    <tr>
        <td>Louisville</td>
        <td>Dion Dunn</td>
        <td>502 645 2514</td>
    </tr>
    <tr>
        <td>Miami</td>
        <td>Kim Caruthers, PMP, CSM</td>
        <td>754 800 4393</td>
    </tr>
    <tr>
        <td>Seattle</td>
        <td>Ted Goodman</td>
        <td>306 499 6135</td>
    </tr>
    <tr>
        <td>St. Louis</td>
        <td>Jennifer Barnes</td>
        <td>314 800 4574</td>
    </tr>
    <tr>
        <td>Tampa</td>
        <td>Andy Rahman</td>
        <td>813 230 2303</td>
    </tr>
</table>
<h4> National Practices </h4>
<table style="width:100%" class="table table-striped, table-hover">
    <tr>
        <th>Practice</th>
        <th>Point of Contact</th>
        <th>Phone Number</th>
    </tr>
    <tr>
        <td>Energy and Utilities</td>
        <td>Ed Heberlein</td>
        <td>773 354 4709</td>
    </tr>
    <tr>
        <td>Oracle</td>
        <td>Chris Szaz</td>
        <td>513 235 2648</td>
    </tr>
</table>