@{
    ViewBag.Title = "Get in Touch";
}
<h2>@ViewBag.Title.</h2>

<h4>Centric Headquarters:</h4>
<address>
    1215 Lyons Rd Bldg F<br />
    Dayton, OH 45458-1858<br />
    <abbr title="Phone">P:</abbr>
    888 781 7567
</address>


<table style="width:100%">
    <tr>
        <th>Office</th>
        <th>Point of Contact</th>
        <th>Email Address</th>
    </tr>
    <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>Smith</td>
    </tr>
    <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>Smith</td>
    </tr>
</table> 

<h2></h2>
<address>
    <strong>Hear the latest news:</strong> <a href="https://centricconsulting.com/news-and-insights/">Centric Blog</a><br />
    <strong>Get involved:</strong> <a href="https://centricconsulting.com/about-us/events/">Company Events</a>
</address>