﻿@{
    ViewBag.Title = "NotAuthorized";
}
<br /><br />
<div class="alert alert-danger">
    <h2>Not Allowed</h2>
    Log-in to recieve access to this page
</div>
<br />
@Html.ActionLink("Return to home", "index", "home")